<template>
<ArticleForm :button-name="buttonName"/>
</template>

<script setup lang="ts">
import ArticleForm from '@/components/ArticleForm.vue';
import { ref } from 'vue';

const buttonName = ref<string>("Créer")

</script>