<template>
    <v-row justify="center">
        <v-col align-self="center" cols="8 cols-sm-12">
            <v-container class="mb-6 mt-6">
                <v-row justify="center">
                    <div v-for="item of articles">
                        <ArticleCard :article="item" />
                    </div>
                </v-row>
            </v-container>
        </v-col>
    </v-row>
</template>

<script setup lang="ts">
import ArticleCard from '@/components/ArticleCard.vue'
import type { Article, Category } from '@/entities';
import { fetchArticle } from '@/service/article-service';
import { onMounted, ref } from 'vue';

const articles = ref<Article[]>([]);
const categorys = ref<Category[]>([]);

onMounted(async () => {
    articles.value = await fetchArticle();
});


</script>