<template>
    <v-container class="mb-6 m-6">

        <v-row justify="center">
            <v-col cols="12" lg="6" md="8" sm="10">
                <v-icon icon="mdi-arrow-left" class="m-3" @click="back = !back" v-if="back"></v-icon>
                <form @submit.prevent="submitLogin()" v-if="!back">
                    <v-text-field v-model="email" label="Enter votre email"></v-text-field>
                    <v-text-field 
                        :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
                        :type="visible ? 'text' : 'password'" v-model="password"
                        @click:append-inner="visible = !visible" 
                        label="Enter votre mot de passe"></v-text-field>
                    <v-row class="d-flex" justify="end">
                        <p class="text-body-2">Vous n'avez pas encors de compte ?</p>
                        <v-btn size="x-small" variant="outlined" class="ml-1" color="blue-lighten-3"
                            @click="back = !back">Inscrivez-vous</v-btn>
                    </v-row>
                    <v-row justify="center">
                        <v-btn class="me-4 m-3" type="submit" justify="center">
                            Connection
                        </v-btn>
                    </v-row>
                </form>
                <form @submit.prevent="submit()" v-if="back">
                    <v-text-field v-model="user.userName" label="Enter votre Username"></v-text-field>
                    <v-text-field v-model="user.email" label="Enter votre email"></v-text-field>
                    <v-text-field :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
                        :type="visible ? 'text' : 'password'" 
                        @click:append-inner="visible = !visible"
                        v-model="user.password"
                        label="Enter votre mot de passe"></v-text-field>
                    <v-row justify="center">
                        <v-btn class="me-4 m-3" type="submit" justify="center">
                            Créer mon compte
                        </v-btn>
                    </v-row>
                </form>
            </v-col>
        </v-row>
    </v-container>

    <v-dialog v-model="dialog" width="auto">
        <v-card max-width="400" class="bg-blue-grey-darken-4" title="Votre compte a bien été créer">
            <template v-slot:actions>
                <v-btn class="ms-auto" text="Ok" @click="dialog = false"></v-btn>
            </template>
        </v-card>
    </v-dialog>
</template>


<script setup lang="ts">
import type { User } from '@/entities';
import { postRegister } from '@/service/auth-service';
import { useAuth } from '@/stores/auth';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const visible = ref(false)
const back = ref(false);
const dialog = ref(false);
const router = useRouter();
const auth = useAuth();
const email = ref('');
const password = ref('');

const user = ref<User>({
    userName: "",
    email: "",
    password: ""
})

async function submitLogin() {
    await auth.login(email.value, password.value);
    router.back();
}

async function submit() {
    const addUser = await auth.signup(user.value)
    dialog.value = true;
    back.value = false;
}
</script>