<template>
    <v-row justify="center" class="m-6">
        <v-col cols="12" lg="8" md="10" sm="10" class="mt-10 mb-10">
            <h1 class="text-h4 text-center">Explorez les merveilles naturelles à travers ce blog photo, partager vos
                photos, raconte son histoire et échanger à ce sujet.</h1>
        </v-col>
        <v-comtainer class="mt-10 mb-10">
            <v-row justify="center">
                <div v-for="item of articles">
                    <ArticleCard :article="item" />
                </div>
            </v-row>
        </v-comtainer>
        <v-col cols="12" lg="8" md="10" sm="10" class="mt-10 mb-10">
            <h2 class="text-h6">Que vous photographiez des paysages majestueux, des animaux sauvages dans leur
                habitat naturel ou simplement les petites merveilles de la vie quotidienne, chaque image que vous
                partagez contribue à inspirer et émerveiller les autres. Venez partager votre passion pour la nature et
                faites partie d'une communauté qui célèbre la splendeur de notre monde à travers l'objectif de
                l'appareil photo. Rejoignez-nous dès aujourd'hui et laissez vos photos parler pour vous !</h2>
        </v-col>
    </v-row>
</template>

<script setup lang="ts">
import ArticleCard from '@/components/ArticleCard.vue'
import type { Article } from '@/entities';
import { fetchLastArticle } from '@/service/article-service';
import { onMounted, ref } from 'vue';


const articles = ref<Article[]>([]);

onMounted(async () => {
    articles.value = await fetchLastArticle();
});

</script>
