<template>
    <v-row justify="center">
        <v-col align-self="center" cols="8 cols-sm-12">
            <v-container class="bg-surface-variant mb-6 mt-6">
                <v-icon icon="mdi-arrow-left" @click="back()"></v-icon>
                <article>
                    <v-row align="center" class="m-3 mt-5">
                        <v-col align-self="start">
                            <v-row align="center">
                                <h2 class="text-h3 m-3">{{ article?.title }}</h2>
                                <v-icon icon="mdi-pencil-outline" @click="editing = !editing"></v-icon>
                            </v-row>
                        </v-col>
                        <v-col>
                            <v-row justify="end">
                                <v-btn density="default" color="orange-darken-3"
                                    @click="handleDelete()" v-if="auth.user">Supprimer<v-icon
                                        icon="mdi-trash-can-outline"></v-icon></v-btn>
                            </v-row>
                        </v-col>
                    </v-row>
                    <v-col v-if="!editing">
                        <v-img class="m-3 mt-5" :src="article?.images[0].src" cover></v-img>
                        <p class="text-h6 m-3 mt-5">{{ article?.paragraph }}</p>
                        <v-row justify="space-between" class="m-3 mt-5">
                            <!-- <p>{{ article?.author }}</p> -->
                            <p>{{ article?.owner?.userName }}</p>
                            <p>{{ article?.date }}</p>
                        </v-row>
                    </v-col>
                    <ArticleForm v-if="editing" :initial-article="article" :button-name="buttonName"
                        @submit="handleSubmit($event)" />
                </article>
                <v-row class="m-3 mt-5">
                    <p class="text-center"><v-icon icon="mdi-eye-outline"></v-icon>{{ article?.vue }}</p>
                    <v-col>
                        <v-row justify="end">
                            <p class="text-center"><v-icon icon="mdi-heart-outline" class="ml-3"></v-icon> {{ vue?.like
                                }}
                            </p>
                            <p class="text-center"><v-icon icon="mdi-heart-broken" class="ml-3"></v-icon>{{ vue?.dislike
                                }}
                            </p>
                        </v-row>
                    </v-col>
                </v-row>
            </v-container>
            <v-container class="bg-surface-variant mb-6 mt-6">
                <v-icon icon="mdi-comment-edit-outline" class="ml-3" @click="editComment = !editComment"></v-icon>
                <CommentForm v-if="editComment"/>
                <div v-if="!editComment">
                    <div v-for="item of comments">
                        <CommentCard :comment="item" @delete="deleteComment($event)" />
                    </div>
                </div>
            </v-container>
        </v-col>
    </v-row>
</template>

<script setup lang="ts">
import CommentCard from '@/components/CommentCard.vue';
import ArticleForm from '@/components/ArticleForm.vue';
import CommentForm from '@/components/CommentForm.vue';
import type { Vue, Article, Comment } from '@/entities';
import { deleteArticle, fetchOneArticle, updateArticle } from '@/service/article-service';
import { deleteOneComment, fetchComment } from '@/service/comment-service';
import { fetchOneVue } from '@/service/vue-service'
import { onMounted, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { useAuth } from '@/stores/auth';


const comments = ref<Comment[]>([]);
const auth = useAuth();
const article = ref<Article>();
const vue = ref<Vue>();
const route = useRoute();
const router = useRouter();
const notFound = ref(false);
const editing = ref<boolean>(false);
const editComment = ref<boolean>(false);
const buttonName = ref<string>("Modifier");


onMounted(async () => {
    try {
        article.value = await fetchOneArticle(route.params.id);
        comments.value = await fetchComment(Number(route.params.id));
        vue.value = await fetchOneVue(route.params.id);
    } catch (error) {
        notFound.value = true
    }
})

async function handleDelete() {
    await deleteArticle(article.value?.id);
    router.back()
}

async function back() {
    router.back()
}

async function handleSubmit(update: Article) {
    await updateArticle(update);
    article.value = update;
    editing.value = false;
}


async function deleteComment(comment: Comment) {
    await deleteOneComment(comment.id);
    comments.value = comments.value.filter(item => item.id != comment.id)
}
</script>