<template>
  <v-card color="blue-grey-darken-4" class="card" min-width="230" max-width="340">
    <v-img height="200px" :src="article.images[0].src" cover></v-img>
    <v-card-title>
      {{article.title}}
    </v-card-title>
    <v-card-subtitle>
      {{ article.category.name }}
    </v-card-subtitle>
    <v-card-actions>
      <v-btn color="orange-lighten-2" variant="text">
        <RouterLink :to="'/article/'+article.id ">Explore</RouterLink>
      </v-btn>
      <v-spacer></v-spacer>
    </v-card-actions>
  </v-card>
</template>

<script setup lang="ts">
import type { Article } from '@/entities';
import { fetchArticle } from '@/service/article-service';
import { onMounted, ref } from 'vue';


//const articles = ref<Article[]>([]);

const { article } = defineProps<{
    article: Article;
}>();

//onMounted(async () => {
  //articles.value = await fetchArticle();
//});

</script>

<style scoped>
.card{
  margin: 2em;
}
</style>