<template>

    <v-row justify="center">
        <v-container class="mb-6 m-6">
            <v-row justify="center">
                <v-col cols="12" lg="6" md="8" sm="10">

                    <form @submit.prevent="submit()" >
                        <v-text-field v-model="article.title" label="titre"></v-text-field>

                        <v-select item-title="name" return-object v-model="article.category" :items="categorys"
                            label="Category"></v-select>

                        <v-text-field v-model="img1.src" label="Enter url de votre première photo"></v-text-field>

                        <v-text-field v-model="img2.src" label="Enter url de votre deuxième photo"></v-text-field>

                        <v-textarea v-model="article.paragraph" label="Enter ton text"></v-textarea>

                        <v-btn class="me-4" type="submit" justify="center">
                            {{ buttonName }}
                        </v-btn>
                    </form>

                    <div class="text-center" v-if="!auth.user">
                        <p class="text-h5 m-3" >Vous devez vous connecter pour pouvoir ajouter un article.</p>
                            <RouterLink  class="navigation" to="/login" active-class="active" v-if="!auth.user">Se connecter
                </RouterLink>
                    </div>
                </v-col>
            </v-row>
        </v-container>
    </v-row>
</template>

<script setup lang="ts">
import type { Category, Article, Vue, Image } from '@/entities';
import { postArticle, updateArticle } from '@/service/article-service';
import { fetchCategory } from '@/service/category-service';
import { postVue } from '@/service/vue-service';
import { useAuth } from '@/stores/auth';
import { onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';
import { RouterLink } from 'vue-router';

const { initialArticle } = defineProps<{
    initialArticle?: Article;
    buttonName: string;
}>();

const auth = useAuth();

const categorys = ref<Category[]>([]);
const router = useRouter();


const article = ref<Article>
    ({
        title: "",
        images: [],
        paragraph: "",
        category: ({
            name: ""
        }),
        date: "",
        vue: 0,
        ...initialArticle
    }); 
//Une ref par image utilisé en v-model
const img1 = ref<Image>({
    src: ""
});
const img2 = ref<Image>({
    src: ""
});
//Faire 2 conditions, si initialArticle.image[0] on l'assigne à la première ref, pareil pour image[1]
if (initialArticle?.images[0]) {
    img1.value = initialArticle.images[0]
}
if (initialArticle?.images[1]) {
    img2.value = initialArticle.images[1]
}

const vue = ref<Vue>({
    like: 0,
    dislike: 0,
    vue: 0
});


onMounted(async () => {
    categorys.value = await fetchCategory();
})

async function submit() {
    article.value.images = []
    //Assigner les ref d'image à article.value.image (et idéalement le faire seulement si elles ont un src)
    if (img1.value.src != "") {
        article.value.images.push(img1.value)
    }
    if (img2.value.src != "") {
        article.value.images.push(img2.value)
    }

    if (initialArticle == null) {
        const addArticle = await postArticle(article.value);
        const addVue = await postVue(vue.value);
        router.push('/article')
    } else {
        const update = await updateArticle(article.value)
        location.reload()
    }
}
</script>