<template>
    <v-container class="mb-6 m-6">
        <v-row justify="center">
            <v-col cols="12" lg="6" md="8" sm="10">

                <form @submit.prevent="submit">
                    <!-- <v-text-field v-model="comment.author" label="Enter votre nom"></v-text-field> -->

                    <v-textarea v-model="comment.paragraph" label="Enter ton commentaire"></v-textarea>

                    <v-btn class="me-4" type="submit" justify="center">
                        Créer
                    </v-btn>
                </form>

            </v-col>
        </v-row>
    </v-container>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import type { Article, Comment } from '@/entities';
import { useRoute, useRouter } from 'vue-router';
import { fetchOneArticle } from '@/service/article-service';
import { postComment } from '@/service/comment-service';
import { useAuth } from '@/stores/auth';

const auth = useAuth()
const router = useRouter();
const route = useRoute();
const article = ref<Article>();


const comment = ref<Comment>({
    paragraph: "",
    articleId: Number(route.params.id)
});

async function submit() {
    const addComment = await postComment(comment.value);
    location.reload()
}

</script>