<template>
    <v-card color="brown-lighten-4" class="mx-auto my-8" elevation="16">
        <v-row justify="space-between">
            <v-col>

                <v-card-item>
                    <v-card-title>
                        {{ comment.owner?.userName }}
                    </v-card-title>
                    <v-card-subtitle class="date">
                        {{ comment.date }}
                    </v-card-subtitle>
                </v-card-item>

                <v-card-text class="text">
                    {{ comment.paragraph }}
                </v-card-text>
            </v-col>
            <v-col align-self="end">
                <v-row justify="end" class="m-3 mt-5">
                    <v-btn density="default" color="orange-darken-3" @click="handleDelete()" v-if="auth.user">Supprimer</v-btn>
                </v-row>
            </v-col>
        </v-row>
    </v-card>
</template>

<script setup lang="ts">
import type { Comment } from '@/entities';
import { useAuth } from '@/stores/auth';

const auth = useAuth()

const { comment } = defineProps<{
    comment: Comment;
}>();

const emit = defineEmits(['delete'])

async function handleDelete() {
    emit('delete', comment);
}

</script>

<style scoped>
.date{
    font-size: 12px;
}

.text{
    font-size: 18px;
}
</style>