<template>
    <v-row justify="center">
        <v-col align-self="center" cols="8 cols-sm-12">
            <v-container class="mt-6">
                <div class="text-center d-flex flex-column">
                    <div>
                        <v-btn class="mx-4" variant="text"> <v-icon icon="mdi-facebook"></v-icon></v-btn>
                        <v-btn class="mx-4" variant="text"> <v-icon icon="mdi-linkedin"></v-icon></v-btn>
                        <v-btn class="mx-4" variant="text"> <v-icon icon="mdi-instagram"></v-icon></v-btn>
                        <v-btn class="mx-4" variant="text"> <v-icon icon="mdi-twitter"></v-icon></v-btn>
                    </div>

                    <div class="pt-0">
                        Phasellus feugiat arcu sapien, et iaculis ipsum elementum sit amet. Mauris cursus commodo
                        interdum.
                        Praesent
                        ut risus eget metus luctus accumsan id ultrices nunc. Sed at orci sed massa consectetur
                        dignissim a
                        sit amet
                    </div>

                    <div>
                        <p>01-04-2024 — <strong>Butterfly</strong></p>
                    </div>
                </div>
            </v-container>
        </v-col>
    </v-row>
</template>

<script setup lang="ts">

</script>