<template>
    <v-card>
        <v-tabs bg-color="grey-darken-3" center-active>
            <v-spacer></v-spacer>
            <v-tab>
                <RouterLink class="navigation" to="/" active-class="active">Accueil</RouterLink>
            </v-tab>
            <v-tab>
                <RouterLink class="navigation" to="/article" active-class="active">Articles</RouterLink>
            </v-tab>
            <v-tab>
                <RouterLink class="navigation" to="/add-article" active-class="active">Ajouter</RouterLink>
            </v-tab>
            <v-spacer></v-spacer>
            <v-col align-self="center" class="mr-3" v-if="auth.user">
                <v-row justify="end">
                    <p class="text-indigo-lighten-3">Bonjour {{ auth.user?.userName }}</p>
                </v-row>
            </v-col>
            <v-tab>
                <RouterLink class="navigation" to="/login" active-class="active" v-if="!auth.user">Connection
                </RouterLink>
                <RouterLink class="navigation" to="/login" active-class="active" v-if="auth.user"
                    @click="auth.logout()">Déconnection</RouterLink>
            </v-tab>
            <v-spacer></v-spacer>
        </v-tabs>
    </v-card>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { RouterLink } from 'vue-router';
import { useAuth } from '@/stores/auth';

const auth = useAuth();

const drawer = ref<boolean>(false);
</script>

<style scoped>
a {
    color: white;
}
</style>