<template>

  <header>
    <Header />
  </header>
  <body>
    <v-row justify="center">
      <RouterView />
    </v-row>
  </body>
  <footer>
    <Footer />
  </footer>

</template>

<script setup lang="ts">
import { RouterView } from 'vue-router';
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';
</script>

<style>
body{
  min-height: 100vh;
}
</style>
